	<div>
		<h2> Calculate Ideal Gear Ratio </h2>
		<p>Enter your original gear ratio, original tire size, and new tire size and the result will display below.</p>
		<br>
		<hr>
		<div class="row">
			<div class="col-sm-4">
				Original ratio: <input type="text" ng-model="originalRatio" placeholder="3.91" ng-change="calculateNewRatio()"><br>
			</div>
			<div class="col-sm-4">	
				Original tire size (inches): <input type="text" ng-model="originalTireSize" placeholder="31" ng-change="calculateNewRatio()"><br>
			</div>
			<div class="col-sm-4">
				New tire size (inches): <input type="text" ng-model="newTireSize" placeholder="33" ng-change="calculateNewRatio()"><br>
			</div>
		</div>
		<hr>
		<div class="row">
			<h2>{{message}}</h2>
		</div>
	</div>